*{
	box-sizing: border-box;
}
.education-left{
	width: 220px;
	height: 640px;	
	border: 1px solid #999999;
}
.education-js,.xqfb{
	width: 219px;
	height: 50px;	
	line-height: 50px;
	padding-left: 28px;
	/*padding-right: 28px;*/
	border-bottom: 1px solid #999999;	
}
.education-js,.xqfb h3{
	font-size: 16px;	
}
.edu-l{
	width: 100px;
	height: 50px;
}
.edu-r{
	width:90px ;
	height:50px;
	line-height: 50px;
	
	color:#DD2727;
	/*background-color: #999999;*/
}
.edu-r span.fa{
	font-size:14px ;
	padding-left:43px ;
}
.education-js-nav{
	width: 219px;
	height: 272px;
	line-height: 40px;
	padding-left: 28px;
	border-bottom: 1px solid #999999;	
}
.xqfb-nav{
	width: 220px;
	height: 266px;
	line-height: 40px;	
	padding-left: 28px;
}
ul li a{
	font-size: 14px;
	color: #584f62;
}
ul li:hover{
	background-color: #f3f3f3;
}
ul li:hover a{
	color:#DD2727;
}
/******************************************/
.education-main{
	width: 951px;
	height: 1870px;
	border: 1px solid #999999;		
}
.education-main-title{
	width: 950px;
	height:50px;
	line-height: 50px;
	padding-left: 16px;
	border-bottom: 1px solid #999999;	
}
.education-main-title h3{
	font-size: 16px;
	color: #2a2f33;
}
