*{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-size:14px ;
	font-family: "arial rounded mt bold";
	background-color: #FFFFFF;
}
a{
	text-decoration: none;
	color:#000000;
}
.w{
	width: 1200px;
	margin-left:auto;
	margin-right:auto;
}
.left{
	float: left;
}
.right{
	float: right;
}
.clear:after{
	display: block;
	content: " ";
	clear:both;
}
.top{
	min-width: 1200px;
	height:38px;
	background-color: #e1f3fd;
}
.header{
	height:38px;
	line-height: 38px;
}

/*左边导航*/
.top .header .nav li{
	float:left;
	padding:0 11px;
	position: relative;
}
.top .header .nav li a span.fa{
	color:#d82936;
}
.top .header .nav li:hover a span.fa:before {
  content: "\f106";
}
.top .header .nav li:hover{
	background-color: darkgray;
}
.top .header .nav li:hover .nav-sed{
	display: block;
}
.top .nav li .nav-sed{
	position: absolute;
	top:38px;
	left:0;
	width:100px;
	background-color: darkgray;	
	text-align: center;
	display: none;
}
.top .nav li .nav-sed li{
	padding:0;
	width:100px;
}
.header .nav li .nav-sed li:hover{
	background-color: #e1f3fd;
	
}
.header .nav li .nav-sed li:hover a{
	color:#d82936;
}
/*右边微信*/
.top .wachet{
	height: 38px;
}
.top .wachet li{
	height: 38px;
	padding-top:6px;
	position: relative;
}
.top .wachet-e{
	width:110px;
	height:110px;
	position: absolute;
	top:38px;
	right:0;
	display: none;
}
.top .wachet-e img{
	width: inherit;
	height: inherit;
}
.top .wachet li:hover .wachet-e{
	display: block;
}
/*头部logo区域*/
.header-logo{
	height:70px;
	margin-top:22px;
	margin-bottom:22px;
}
.header-logo .logo img{
	height:70px;
}
.header-logo ul{
	text-align: center;
	height:70px;
	/*line-height:70px;*/
	/*background-color: #b0b0b0;*/
}
.logo-right{
	height:70px;
	width: 200px;
	line-height: 70px;
	font-size: 16px;
	
}
.header-logo ul li{
	height:inherit;	
	float:left;
	margin-left:38px;
	position: relative;
	/*padding-top: 20px;
	padding-bottom: 20px;*/
}
.header-logo ul li img{
	/*padding-top:20px;*/
     height:30px;
     margin-right:10px;
     position: relative;
     top:8px;
}
.header-logo ul li span{
	font-size: 14px;
}
/*banner区域*/
.banner{
	height:350px;
	position: relative;
	border: 1px solid #bbbbbb;
}
.banner .images li{
	position: absolute;
	left:0;
	top:0;
}
.banner .images li{
	display:none;
}
.banner .images li:first-child{
	display: block;
}
.banner .points{
	position: absolute;
	left:50%;
	bottom:20px;
}
.banner .points .point{
	float: left;
	margin:0 6px;
	border-radius:50%;
	width: 14px;
	height:14px;	
	border: 1px solid #FFFFFF;
}
.active{
	background-color:#da2625;
	border: solid 1px #da2625;
}
/*课程区域*/
.class{
	height:454px;
	margin-top: 42px;
	position:relative;	
}
.class-nav{
	width: 222px;
	height:454px;
	position: relative;
	/*background-color: #b0b0b0;*/
}
.class-nav .nav-sed-l{
	width: 222px;
}
.class-nav .nav-sed-l li{
	width: inherit;
	height:42px;
	line-height: 42px;
	padding-left: 22px;
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	
}
.class-nav .nav-sed-l li span{
	margin-right: 22px;
	color:#333333;
}
.class-nav .nav-sed-l li a{
	padding-right: 22px;
	font-size: 12px;
	color:#999999;
}


/*.class-nav .nav-sed-l li:hover .class-sed{
	display: block;
}*/



.class-nav .nav-sed-l li.hover span{
	color: #DD2727;
}
.class-nav .nav-sed-l li:hover a{
	color:#333333;
}

.class-nav .nav-sed-l li:first-child{
	height:34px;
	line-height: 34px;
	border-left: none;
	border-right: none;
	background-color: #dd2727;	
}
.class-nav .nav-sed-l li:first-child a{
	color: #FFFFFF;
	font-size: 16px;
}
.class-nav .nav-sed-l li:first-child a span.fa{
	margin-right: 14px;
	color:#FFFFFF;
	font-size: 16px;
}
.class-nav .nav-sed-l li a:hover{
	color:#DD2727;
}

.class-nav .nav-sed-l li:first-child a:hover{
	color:#FFFFFF;
}
.class-nav .nav-sed-l li:first-child a:hover .fa{
	color:#FFFFFF;
	font-size: 16px;
}

.class-sed{
	height:420px;
	width: 620px;
	background-color: #BBBBBB;
	position: absolute;
	left: 222px;
	top:34px;
	padding-top: 20px;
	display: none;
	z-index:999;
}
.class-sed ul{
	width: 620px;
	height: 400px;
	display: none;
	}
.class-sed ul li{
	border-top:1px solid #DDDDDD;
	padding-left:1em ;
	width: 290px;
	height: 50px;
	line-height: 50px;
	margin-left: 20px;	
}
.class-sed ul li:nth-child(2n+1){
	float: left;
}
.class-sed ul li:nth-child(2n){
	float: right;
}
.class-sed ul li:hover{
	color: #DD2727;
}
/*课程中间新闻区域*/
.news{
	width: 732px;
	height: 454px;
	position: absolute;
	left: 244px;
	top:0;
	/*background-color: green;*/
}
.news-mid{
	height: 40px;
	width: inherit;
	border-bottom: 1px solid #999999;
	position: relative;
}
.news-mid .news-mid-nav{
	height: 40px;
	line-height: 40px;
	width: 312px;
}
.news-mid .news-mid-nav li{
	float: left;
	height: 40px;
	width: 104px;
	padding: 0 24px;
	
}
.news-mid .news-mid-nav li.first{	
	border-bottom: 2px solid #DD2727;
}
.news-mid .news-mid-nav li.first a{
	color:#DD2727;
}
.news-mid .news-mid-nav li.hover{	
	border-bottom: 2px solid #DD2727;
}
.news-mid .news-mid-nav li.hover  a{
	color:#DD2727;
}
.news-mid .news-mid-nav li a{
	color: #333333;
}
.news-mid-sed{
	height: 414px;
	width: 732px;
	/*display: none;*/
	/*background-color: #BBBBBB;*/
	position: absolute;
	top: 40px;
	left:0;
}
.news-mid-active{
	height: 414px;
	width: 732px;
	display: none;
}
.news-mid-active:first-child{
	display: block;
}
.news-mid-active-left{
	width: 348px;
	height:414px;
}
.item{
	padding-top: 40px;
	height: 102px;
	width: 348px;
}
.item-left .item-1{
	width: 42px;
	height:42px;
	border-radius: 50%;
	/*background-color: #000000;*/
}
.item-1 img{
	width: inherit;
	height:inherit;
	border-radius: 50%;
}
.item-t{
	width: 42px;
	height: 14px;
	line-height: 14px;
	margin-top: 12px;
	padding-left: 5px;
	color:#b0b0b0;
	font-size: 12px;
}
.item-right{
	width: 266px;
	height: 62px;
}
.item-title{
	width: 266px;
	height: 26px;
	line-height: 26px;
	
}
.item-title h3{
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.item-4{
	width: 266px;
	height: 26px;
	line-height: 13px;
	margin-top: 10px;
}
.item-4 p{
	font-size: 12px;
	color:#B0B0B0;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space:pre;
}
/*课程right区域*/
.hot-class{
	width:202px;
	height:454px;
	/*background-color: yellow;*/
}
.hot-class-title{
	height: 40px;
	width: inherit;
	line-height: 40px;
	text-align: center;
	color:#333333;
	font-size: 16px;
}
.hot-class-img{
	width: 202px;
	height: 130px;
	margin-bottom: 12px;
	overflow: hidden;
	position: relative;
}
.hot-class-img img{
	width: 202px;
	height: 130px;
}
.hot-class-img-sed{
	width: 202px;
	height: 72px;
	line-height: 24px;	
	padding-left: 10px;
	padding-top: 4px;
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	left: 0;
	top:100px;
	
}
.hot-class-img-sed h3{
	font-size: 14px;
	color:#FFFFFF;
}
.hot-class-img-sed p{
	font-size: 14px;
	color:#a6b4bf;
}
/*最新开班 区域  ***********/
.new-class{
	height:568px;
	margin-top:42px;
	/*background-color: gainsboro;*/
}
.new-class-header{
	height: 50px;
	border-bottom: 1px solid #e1e1e1;
	position: relative;
}
.new-class-header-title{
	height: 50px;
	width: 212px;
	line-height: 50px;	
}
.new-class-header-title h3{
	color:#2a2a2a;
	font-size: 22px;
}
.new-class-header .new-class-nav{
	width:954px;
	height: 38px;
	margin-top: 12px;

}
.new-class-header .new-class-nav li{
	float: left;
	width: 106px;
	padding: 0 25px;
	line-height: 38px;
}
.new-class-header .new-class-nav li a{
	font-size: 14px;
	color: #545454;
}
.new-class-header .new-class-nav li:first-child a{
  	color: #DD2727;
}
.new-class-header .new-class-nav li.hover a{
	color: #DD2727;
}


.line{
	height:2px;
	width: 106px;
	background-color: #db272a;
	position: absolute;
	left:212px;
	bottom: -1px;
}
.new-class-sed{
	height:482px;
	width: inherit;
	margin-top:28px;
}
.new-class-main{
	height:482px;
	width: inherit;
	display: none;	
}
.new-class-main:first-child{
	display: block;
}
.new-class-main-up{
	height: 258px;
}
.new-class-main-list{
	width: 286px;
	height:258px;
	padding: 8px;
	margin-right: 18px;
	border: 1px solid #FFFFFF;	
}
.new-class-main-list:last-child{
	margin-right: 0px;
	
}
.new-class-main-list:hover{
	border: 1px solid #e1e1e1;
}
.new-class-main-list-img{
	width:270px;
	height:180px;
	overflow: hidden;
	margin-bottom: 10px;
}
.new-class-main-list-img img{
	width:270px;
	height:180px;
}
.new-class-main-list-xia h3 a{
	font-size: 14px;
	color:#505050;
}
.new-class-main-list-xia h3 a:hover{
	color: #dd2727;
}

.new-class-main-list-xia span{
	font-size: 12px;
	color:#999999
}
.new-class-main-list-xia span a{
	font-size: 12px;
	color:#999999;
}
.new-class-main-list-xia span:hover a{
	color:green;
}
.new-class-price{
	width: inherit;
	height: 216px;
	margin-top: 20px;
}
.new-class-price table{
	width:562px;
	height:216px;
	font-size: :;px;
	text-align: center;
}
.new-class-price table th{
	border-bottom: 1px solid #999999;
	color: #515151;
}

.new-class-price table td{
	color:#554e56;
}

.new-class-price table tr th:first-child{
	text-align: left;
}
.new-class-price table tr td:first-child{
	text-align: left;
}
.new-class-price table tr td:first-child span{
	color:#57bee7;
}
.new-class-price table tr td:first-child a{
	color:#554e56;
}
.new-class-price table tr td:first-child:hover a{
	color:#dd2727;
}	

/*******************报名成功****************/	
.baoming{
	height: 36px;
	width: inherit;
	border-bottom: 1px solid #999999;
	position: relative;
}
.baoming .baoming-left{
	width: 112px;
	height:36px;
	line-height: 36px;
	border-bottom: 2px solid #dd2727;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0px;
}
.baoming-cg{
	width: 1088px;
	height: 36px;
	line-height: 36px;
	direction: left;
	behavior:scroll;
	position: absolute;
	top: 0;
	left: 112px;
}
.baoming-cg p{
	font-size: 16px;
}
